@if (!ViewData.ModelMetadata.HideSurroundingHtml)
{
    if (ViewBag.HideLabel == null || !((bool)ViewBag.HideLabel))
    { 
    <div class="titleLabel">
        @Html.Label((bool)(ViewBag.HideSeparator != null), ViewData.ModelMetadata.IsRequired && !(ViewData.Model is Boolean) && !ViewData.ModelMetadata.IsNullableValueType)
    </div>
    }
    <div>
        @RenderSection("Data")
    </div>
}
else
{
    @RenderSection("Data")
}
