@using DAV.UniverseCleaning.App_LocalResources

@{
    ViewBag.Keywords = Resource.AfterBuildersCleaningKeywords;
    ViewBag.Title = Resource.AfterBuildersTitle;
    ViewBag.Description = Resource.AfterBuildersDescription;
}


<div class="row">
    <div class="col-md-5">
        <img async src="@Url.Content("~/Images/img0023.png")" alt="Carpet Cleaning" />
    </div>
    <div class="col-md-7 paddingTop10">
        <p>
            You just have done renovation on your home, but the whole house completely messy and everywhere is chaos. Instead of being  happy with your renovated home, you have to worry about cleaning. We, @LogoNameHelper.DisplayLogoName(), are here to help you and make your renovated home perfectly clean and sparkling with our after builders cleaning in London. Trusting in us, you save time, efforts and stress from cleaning.
        </p>
        <p>
            At @LogoNameHelper.DisplayLogoName(), we adopt highly individualised by offering the most effective methods and use the best cleaning products for our after builders cleaning in London. We are ready to provide everything you need, for the best cleaning of your home, office or business building.
        </p>
    </div>
</div>
<div>
    <h4> Our typical After Builders Cleaning  include:</h4>
    <ul>
        <li>We will remove all labels from bathroom, windows, toilets and kitchen.</li>
        <li>Clean all floors of any paint and plaster.</li>
        <li>Clean all windows of any paint and plaster.</li>
        <li>Clean all windows, window frames, sills.</li>
        <li>Clean all skirting and wash the doors.</li>
        <li>Clean all sockets and switches.</li>
        <li>Spot clean walls and ceilings.</li>
        <li>Clean all skirting boards.</li>
        <li>Clean all kitchen, bedroom, living room and etc. cupboards inside and out.</li>
        <li>Clean and polish all kitchen, bedroom, living room and etc. surfaces and wooden works.</li>
        <li>Clean toilets inside and out.</li>
        <li>Wash the tiles and all basins in the bathroom.</li>
        <li>Hoover and mop all floors and stairs.</li>
        <li>Make sure all the property is dust free.</li>
    </ul>
</div>

