@using DAV.UniverseCleaning.App_LocalResources
@{
    ViewBag.Keywords = Resource.CarpetCleaningKeywords;
    ViewBag.Title = Resource.CarpetCleaningTitle;
    ViewBag.Description = Resource.CarpetCleaningDescription;
}


<div class="row">
    <div class="col-md-5">
        <img src="@Url.Content("~/Images/img0021.png")" alt="Carpet Cleaning" />
    </div>
    <div class="col-md-7 paddingTop10">
        <p>
            We offer a deep clean carpet clean for our domestic customers that will stringently clean your carpet and rid it of any hidden organisms. Is your carpet stained? Does it smell? Then do not bother with products available in the shop, as they will not get rid your carpet of the stain or smell. Our enzyme busting complex will rid your carpet off any the following smells or stains: pet smells, vomit, urine, faeces, smoke, blood and more.
        </p>
        <p>
            In many ways your carpet is like a really big filter for all or the dirt, dust, allergens, grime, and bacteria that find their way into your home on the bottom of your shoes.
        </p>
    </div>
</div>
<div>
    <p>
        Like all filters, your carpet will function best for you when it is clean because then it can trap these unwanted guests within its fibers. However, as time goes by those carpet fibers become full and no longer able to trap as much unseen dust, dirt and germs. Regular deep cleaning of your carpet will remove the dirt that is trapped in the fibers.
    </p>
    <p>
        Vacuuming can help to a degree, but it is not enough to pull the dirt and other pollutants from your carpet on its own. You may be surprised to learn that the majority of stain complaints are actually not true stains at all, but instead are soiled spots. For example, a lot of sugar-based spills like soft drinks and coffee leave a sugar residue behind. This sticky residue will attract soil from people’s shoes. The area becomes discolored and appears to be a stain. The price of new carpeting and installation continues to rise and it is quite expensive for the most part, depending on the square footage of your home. Don’t allow your carpets to be ruined by improper or insufficient cleaning. Instead, give us a call  and let us give your carpet a thorough cleaning.
    </p>
    <p>
        If you would like the best and most efficient carpet cleaning service , contact us today .
    </p>
</div>
