
@{
    ViewBag.Title = "Comercial Service";
}


<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/img0015.png")" alt="Comercial Service" />
    </div>
    <div class="col-md-8 paddingTop10">
        <p>We offer high standard office and commercial cleaning services with our highly trained teams, from small offices to large commercial premises. When you let us look after your cleaning, you can count on us and look forward to coming to a brighter, fresher, healthier, cleaner work environment. Our carefully selected service professionals guarantee your peace of mind.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <img src="@Url.Content("~/Images/img0016.png")" alt="Comercial Service" />
    </div>
    <div class="col-md-4 paddingTop10">
        <h4>Our Office Cleaning Expertise</h4>
        <ul>
            <li>Our specialty is cleaning high-traffic floor areas, whether it's carpet, tile or stone.</li>
            <li>We respect your privacy regarding sensitive areas and office contents.</li>
            <li>We also offer on-call service for accidents, conferences and post-party clean-ups.</li>
            <li>We're dependable, professional and thorough.</li>
        </ul>
    </div>
</div>

