@{
    ViewBag.Title = "DomesticCleaning";
}

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/img0011.png")" alt="Comercial Service" />
    </div>
    <div class="col-md-8">
        <h3><strong>Domestic Cleaning</strong></h3>
        <p>When you've been working long hours and your free time is spent running errands and fulfilling social obligations, the last thing you want to do when you come home is clean. Our House Cleaning Service is what you need. When you hire us, we'll work with you to create a customized schedule that suits your needs.</p>
        <p>Universe Cleaning can supply professional housekeepers on a daily, weekly, fortnightly, monthly basis, or for occasional or one time house cleaning services such as a spring clean, moving house/apartment, or after a party or any other event.  </p>
    </div>
</div>
<h4>Our services:</h4>
