@using DAV.UniverseCleaning.App_LocalResources
@{
    ViewBag.Keywords = Resource.DomesticServiceKeywords;
    ViewBag.Title = Resource.DomesticCleaningTitle;
}

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/img0011.png")" alt="Domestic Cleaning" />
    </div>
    <div class="col-md-8 paddingTop10">
        <p>When you've been working long hours and your free time is spent running errands and fulfilling social obligations, the last thing you want to do when you come home is clean. Our House Cleaning Service is what you need. When you hire us, we'll work with you to create a customized schedule that suits your needs.</p>
        <p>Universe Cleaning can supply professional housekeepers on a daily, weekly, fortnightly, monthly basis, or for occasional or one time house cleaning services such as a spring clean, moving house/apartment, or after a party or any other event.  </p>
    </div>
</div>
<h3>Our services:</h3>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Kitchen</strong></h4>
                <ul>
                    <li>clean cook top</li>
                    <li>clean bench tops</li>
                    <li>clean appliance exteriors</li>
                    <li>clean windows interriors</li>
                    <li>clean splash back</li>
                    <li>clean sink & taps</li>
                    <li>clean inside microwave</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4><strong>Bathrooms</strong></h4>
                <ul>
                    <li>clean counter tops</li>
                    <li>clean shower cabin</li>
                    <li>clean cupboard exteriors</li>
                    <li>clean sink & taps</li>
                    <li>clean & disinfect toilet</li>
                    <li>scrub wall tiles/grout</li>
                    <li>clean mirrors/splash backs</li>
                    <li>dust & wipe down baseboards</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <img src="@Url.Content("~/Images/img0012.png")" alt="Domestic Cleaning" />
        </div>
    </div>
    <div class="col-md-4">
        <h4><strong>All rooms</strong></h4>
        <ul>
            <li>vacuum clean carpets</li>
            <li>dust surfaces</li>
            <li>general tidy up</li>
            <li>mop wooden/tiled floors</li>
            <li>empty rubbish bins</li>
            <li>air freshen & deodorize</li>
            <li>ironing services</li>
            <li>clean windows</li>
            <li>dust blinds</li>
            <li>changing bed linen</li>
            <li>wipe skirting boards/sills</li>
            <li>clean mirrors</li>
            <li>empty rubbish bins</li>
            <li>clean walls (spots/marks)</li>
            <li>dust light fittings/fans</li>
            <li>general tidy up</li>
            <li>clean doors & handles</li>
            <li>remove cobwebs</li>
            <li>vacuum under beds</li>
            <li>vacuum soft furnishings</li>
            <li>polish wooden furniture</li>
        </ul>
    </div>
</div>
<p><em>We will always be fully insured to protect your business equipment and property.</em></p>
