
@{
    ViewBag.Title = "End of Tenancy Cleaning";
}

<div class="row">
    <div class="col-md-5">
        <img src="@Url.Content("~/Images/img0019.png")" alt="End of Tenancy Cleaning" />
    </div>
    <div class="col-md-7 paddingTop10">
        <p>
            When you move in to your new house, flat or apartment, wouldn't you like to know it's perfectly clean for yourselves to live in? Let us give it a thorough clean from top to bottom, so that you are not living in someone else`s dirt... instead feel like it is a new build property. Who knows when the last time (if ever) the previous owners had their carpets cleaned and what about all the hidden germs throughout the place? Let us do it for you!
        </p>
    </div>
</div>
<p>Saves your time and energy this is the most important thing in life. Being efficient means success.</p>
<h3>Our services include:</h3>
<div class="row">
    <div class="col-md-7">
        <h4>Kitchen</h4>
        <ul>
            <li>clean door inside/outside</li>
            <li>clean and degrease tiling and backsplash</li>
            <li>degrease extractor</li>
            <li>clean fronts and all internal facings of cupboard and drawers</li>
            <li>clean inside of fridge /freezer (please ensure freezer is defrosted)</li>
            <li>clean hob and rings</li>
            <li>clean soap dispencer, seals and door on washing machine</li>
            <li>clean sink and taps</li>
            <li>clean door and filter on dryer</li>
            <li>clean appliance exteriors</li>
            <li>clean windows interriors</li>
        </ul>
        <img src="@Url.Content("~/Images/img0020.png")" alt="End of Tenancy Cleaning" />

    </div>
    <div class="col-md-5">
        <h4>Bathrooms</h4>
        <ul>
            <li>clean door inside/outside</li>
            <li>clean and descale shower screen</li>
            <li>clean and descale tiles</li>
            <li>clean and descale sink and taps</li>
            <li>clean and descale taps, fittings and surrounds</li>
            <li>clean cupboard interriors</li>
            <li>clean & disinfect toilet</li>
            <li>polish mirrors</li>
            <li>dust & wipe down baseboards</li>
        </ul>
        <h4>Rooms</h4>
        
        <ul>
            <li>clean internal window</li>
            <li>remove cobwebs</li>
            <li>clean pictures frame</li>
            <li>clean lights, switches, fittings and sockets</li>
            <li>clean handrails and spindles</li>
            <li>vacuum and mop hard floors</li>
        </ul>
    </div>
</div>
<p><em>We will always be fully insured to protect your business equipment and property.</em></p>




