@using DAV.UniverseCleaning.App_LocalResources
@{
    ViewBag.Keywords = Resource.IroningAtHomeKeywords;
    ViewBag.Title = Resource.IroningAtHomeTitle;
    ViewBag.Description = Resource.IroningAtHomeDescription;
}

<div class="row">
    <div class="col-md-4">
        <img async src="@Url.Content("~/Images/img0017.png")" alt="Ironing" />
    </div>
    <div class="col-md-8 paddingTop10">
        <p>
            In the times we live in, most of us have busy lifestyles, some of us trying to juggle home life, kids and work. With the little spare time you have, you may feel like there are better things to be doing than ironing.
        </p>
        <p>
            Perhaps you've just had enough of the endless pile of clothes to be ironed. We can take the worry away, freeing up your time to get on with your day.
        </p>
    </div>
</div>
<img async class="center-image" src="@Url.Content("~/Images/img0018.png")" alt="Ironing" />


