@{
    ViewBag.Title = "Oven Cleaning";
}

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/img0014.png")" alt="Oven Cleaning" />
    </div>
    <div class="col-md-8 paddingTop10">
        <p><strong>Universe Cleaning</strong>  use professional cleaning products to get your oven sparkling clean... even with years of ground in dirt. It's not just inside of your oven (and shelving) which might need a thorough clean, don't forget your grill, cooker top and splash back or even your microwave. Our unique cleaning system is environmentally friendly, 100% caustic and solvent free. Our customers benefit from a safe working environment and a fume-free home. Furthermore, this means ovens and appliances are completely safe to use just as soon as we've finished!  We aim to complete work with minimal disturbance to family and home.</p>
    </div>
</div>
<div>
    <p>The professionalism and quality of our service, coupled with our environmentally friendly cleaning system all contribute to the convenience offered to our customers. We can provide an oven clean service that is completed to the highest standards by a skilled specialist in just a couple of hours, while maintaining a completely fume-free environment that facilitates completely safe use of all cleaned appliances once finished!  Universe Cleaning customers are often overwhelmed by the quality of the service that they are provided by us. Our goal is to complete every job to the very highest standard.</p>
    <p><strong>If you would like the best and most efficient oven clean service , contact us today.</strong></p>
</div>
