@{
    ViewBag.Title = "Spring Clean";
}

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/img0013.png")" alt="Spring Clean" />
    </div>
    <div class="col-md-8 paddingTop10">
        <p>Our spring cleaning package is an extensive deep clean designed to thoroughly clean your home from top to bottom. Ideal as an occasional cleaning service any time of the year!</p>
    </div>
</div>
<h3>Our services:</h3>
<div class="row">
    <div class="col-md-4">
        <h4><strong>Kitchen</strong></h4>
        <ul>
            <li>clean cook top</li>
            <li>clean splash back</li>
            <li>clean range hood</li>
            <li>clean bench tops</li>
            <li>clean sink & taps</li>
            <li>clean inside microwave</li>
            <li>clean cupboard exteriors / interriors</li>
            <li>clean inside of fridge / freezer (please ensure freezer is defrosted)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><strong>Bathrooms</strong></h4>
        <ul>
            <li>clean bath</li>
            <li>clean shower cabin</li>
            <li>scrub wall tiles / grout</li>
            <li>clean counter tops</li>
            <li>clean sink & taps</li>
            <li>clean & disinfect toilet</li>
            <li>clean mirrors/splash backs</li>
            <li>clean cupboard exteriors / interriors</li>
            <li>dust & wipe down baseboards</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><strong>All rooms</strong></h4>
        <ul>
            <li>vacuum clean carpets</li>
            <li>dust surfaces</li>
            <li>vacuum soft furnishings</li>
            <li>mop wooden / tiled floors</li>
            <li>polish wooden furniture</li>
            <li>vacuum under beds</li>
            <li>clean windows</li>
            <li>dust blinds</li>
            <li>wipe skirting boards / sills</li>
            <li>clean mirrors</li>
            <li>dust wall hangings</li>
            <li>empty rubbish bins</li>
            <li>clean walls (spots / marks)</li>
            <li>dust light fittings / fans</li>
            <li>general tidy up</li>
            <li>clean doors & handles</li>
            <li>remove cobwebs</li>
            <li>clean light switches</li>
        </ul>
    </div>
</div>
<p><em>We also offer additional services such as ironing, changing bed linen, oven cleaning,carpet cleaning  etc and are more than happy to include these as part of a customized house cleaning service that's tailored to your exact requirements.</em></p>
