@using DAV.UniverseCleaning.App_LocalResources;
@{
    ViewBag.Title = Resource.AboutUsTitle;
    ViewBag.Message = Resource.AboutUsMessage;
    ViewBag.Keywords = Resource.AboutUsKeywords;
    ViewBag.Description = Resource.AboutUsDescription;
}

<h4><em>Welcome to <strong>Universe Cleaning</strong></em></h4>
<div class="left">
    <p>
        Qualified, reliable and thorough
        <strong>Universe Cleaning</strong> is registered in uk and managed by professional with long term of cleaning experience.
    </p>
    <p>
        We are always ready to clean for you, to provide you with all necessary cleaning services and we never refuse to perform any cleaning task, no matter how complicated or labor intensive the job is. The most beneficial thing you could do for yourself and for your home is to provide supreme cleaning services from us.
    </p>
    <p>
        Our cleaning business services provide a clean and healthy workplace. Materials and equipment are included in price and provided by our cleaning team. We believe we offer the best quality service at a sensible and affordable price. Our success is a direct result of our commitment to honesty, reliability and our approach to service quality.
    </p>
    <p>
        Our policy on services quality demands that we must consistently provide an honest, economic and reliable service, which meets the needs of our customers.
    </p>
    <p>
        We have developed our business on trustworthiness, reliability, affordability and quality assurance
    </p>
    <h4><em>Our keys values</em></h4>
    <p>
        <ul>
            <li>It is economical and of high quality</li>
            <li>100% customer satisfaction</li>
            <li>Excel in services</li>
            <li>Positive work ethics and attention to detail</li>
            <li>Honesty, trust and integrity</li>
        </ul>
    </p>
    <p>
        We will always be fully insured to protect your business equipment and property from theft or damage.
    </p>
    <h4><em> OUR GUARANTEE</em></h4>
    <p>
        Our mission is to provide you with the most outstanding service experience possible. If you are not completely thrilled with the service you receive from our business, we will rush back to your location at no charge or obligation to remedy the situation
    </p>
    <h4><em>Locations we operate:</em></h4>
    <ul>
        <li>Bishop's Stortford</li>
        <li>Sawbrigheworth</li>
        <li>Epping</li>
        <li>Hertford</li>
        <li>Ware</li>
        <li>Waltham Abbey</li>
        <li>Bishop</li>
        <li>Cheshunt</li>
        <li>Hertford</li>
        <li>Hoddeston</li>
        <li>Harlow</li>
        <li>Roydon</li>
        <li>Broxborne</li>
        <li>Much Madham</li>
        <li>Stanstead Abbotts
    </ul>
</div>
<div class="right">
    <img async src="@Url.Content("~/Images/img0004.png")" id="Image2" alt="About Universe Cleaning">
</div>
