@using DAV.UniverseCleaning.App_LocalResources
@using DAV.UniverseCleaning.Models;
@{
    ViewBag.Title = Resource.OffersTitle;
    ViewBag.Message = Resource.OffersMessage;
    ViewBag.Keywords = Resource.SpecialOffersKeywords;
    ViewBag.Description = Resource.OffersDescription;
    var offers = new List<Offer>();
    offers.Add(new Offer("25 % of on your first clean.", "Are you a new client? Contact us and we'll give you 25% of on your first clean."));
    offers.Add(new Offer("10% of on Oven Clean in July.", "Hire us to clean your oven in July and you get 10% off."));
}
<p>
    We are constantly working to offer you the best value for money we can, and this cleaning special offers page is all about helping you save money.
    Our offers are changing all the time so be sure to visit our cleaning special offers page so that you can keep an eye out for the offer that best suits you.
</p>
@if (offers.Any())
{
    <h3>Our Special Offers</h3>
    foreach (var offer in offers)
    {
        <div class="row">
            <div class="col-lg-12">
                <h3>@offer.Title</h3>
                <p>@offer.Details</p>
            </div>
        </div>
        <div class="clear"></div>
    }
}