@using DAV.UniverseCleaning.App_LocalResources

@{
    ViewBag.Title = Resource.OffersTitle;
    ViewBag.Message = Resource.OffersMessage;
    ViewBag.Keywords = Resource.SpecialOffersKeywords;
    ViewBag.Description = Resource.OffersDescription;
}

<p>
    We are constantly working to offer you the best value for money we can, and this cleaning special offers page is all about helping you save money.
    Our offers are changing all the time so be sure to visit our cleaning special offers page so that you can keep an eye out for the offer that best suits you.
</p>

<h3>Our Special Offers</h3>
<div class="row">
    <img async class="center-image" src="@Url.Content("~/Images/Offer3.png")" alt="Tell your friend about us and you'll receive a free cleaning for every customer that becomes regular" />
</div>
<div class="clearMed"></div>
<div class="row">
    <div class="col-lg-3">
        <img async src="@Url.Content("~/Images/Offer1.png")" alt="25% of on your first clean." />
    </div>
    <div class="col-lg-9">
        <p>
            <strong>25 % of on your first clean.</strong><br />
            Are you a new client? Contact us and we'll give you 25% of on your first clean.
        </p>
    </div>
</div>
<div class="clearMed"></div>
<div class="row">
    <div class="col-lg-3">
        <img async src="@Url.Content("~/Images/Offer2.png")" alt="10% off on oven clean in July" />
    </div>
    <div class="col-lg-9">
        <p>
            <strong>10% of on Oven Clean in July</strong><br />
            Hire us to clean your oven in July and you get 10% off.
        </p>
    </div>
</div>
<div class="clearMed"></div>

