@helper SocialMediaButtons(bool singleLine=false)
{
        <div class="row">
            <div class="pull-right">
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="pull-right">
                <!-- Place this tag in your head or just before your close body tag. -->
                <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer>
                    { lang: 'en-GB' }
                </script>

                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-annotation="inline" data-width="200"></div>
            </div>
                        <script async defer>
                            (function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>

                        <div class="fb-like" data-width="300" data-href="@DAV.UniverseCleaning.App_LocalResources.Resource.SiteUrl" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
}

