@{
    ViewBag.Title = "Customer Satisfaction";
}
<div>
    <img src="@Url.Content("~/Images/satisfation.jpg")" alt="Customer Satisfaction" /><br />
    <p>
        <strong>Universe Cleaning</strong> offers a flexible home cleaning service at an affordable price (no matter whether a house or a flat clean is required), based on a no-obligation, free estimate carried out in your home. Uniformed, fully insured staff typically work in teams of two to efficiently clean your home.
    </p>

    <p>
        They arrive in <strong>Universe Cleaning</strong> identified cars, bringing all necessary cleaning equipment and supplies with them. Where possible you will be offered the same team on a regular basis.
        We will treat you as an individual, and our prices will reflect this.
        Every clean we perform will meet the professional <strong>Universe Cleaning</strong> domestic cleaning standard.
        We clean your home from top to bottom and nothing is overlooked. We pride ourselves in offering consistently high standards of professional home cleaning services and that's why we guarantee it! At <strong>Universe Cleaning</strong> you're not just another number.
    </p>

    <p>
        Our staff, who are all professionally trained in the <strong>Universe Cleaning</strong> way, ensure your individual home cleaning needs are met whether you are looking for a weekly, alternate weekly, monthly, a spring clean or even for a one-off special occasion.
    </p>

    <p>
        <strong>Universe Cleaning</strong> gives you the gift of time-and we guarantee our cleaning, 100 percent!
    </p>

</div>
