@using DAV.UniverseCleaning.App_LocalResources
@{
    ViewBag.Keywords = Resource.WhyUsKeywords;
    ViewBag.Title = Resource.CustomerSatisfactionTitle;
}
<div>
    <img src="@Url.Content("~/Images/whyus.jpg")" alt="Why Us" /><br />
    <p>
         <strong>Universe Cleaning</strong> is known for its friendly cleaning services, meticulous attention to detail and consistent high standards.
        We guarantee an immaculate finish to your home or office.
    </p>
    <p>
        Choosing the right cleaning service for your facility can be a daunting venture. However, Universe
        Cleaning services can tailor a specific site plan aimed at satisfying all of your cleaning concerns and needs.
        Our team of professional but friendly maids pride themselves in going above and beyond other house
        cleaning services. We provide efficiency with a personal touch, helping simplify your life whilst ensuring
        your home stays sparkling clean.
    </p>
    <p>
        <strong>Our Service:</strong>
        <strong>Your regular <strong>Universe Cleaning</strong> professional cleaning service includes:</strong>
        <ul>
            <li>Thorough cleaning of bathrooms and kitchens.</li>
            <li>Wiping of cupboard fronts and washing floors.</li>
            <li>Dusting of skirting boards, pictures, lamp shades, knick-knacks and ornaments, window sills, furniture and light fittings.</li>
            <li>Complete vacuuming in every room.</li>
            <li>Spot cleaning after building</li>
            <li>All you have to do is ask!</li>
        </ul>
    </p>
    <p>
        <strong><strong>Universe Cleaning</strong> is affordable…</strong>
        Call us today to arrange your free, no-obligation in-home estimate for your individual home cleaning
        service requirements.
    </p>
</div>
